<h1>Convert arabic number to roman!</h1>
<br>
<br>
<h2>Put your number here:</h2>

<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="TRUgDMawvK9S+NUrEGIEuMRt4DIIAlisgM/SFUJknEprMk0eTdVxk241zk+TI6o+JeY3md9qswHXmWIkjsJUIA==" />

  <div class="row">
    <div class="small-2 columns">
      <input placeholder="Enter number here" type="number" name="user[login]" id="user_login" value="8"/>
    </div>
  </div>

</form>

<h1>8 = VIII</h1>
