<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="small-6 columns">
        <%= f.text_field :login, placeholder: 'Enter your login' %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.text_field :email, placeholder: 'Enter your email' %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="small-6 columns small-centered text-center">
          <%= f.submit class: 'success button' %>
        </div>
      </div>
    </div>

    <div class="margin-bottom-1"></div>
<% end %>
