<h2 class="margin-bottom-2">Edit User profile</h2>

<%= render 'form' %>

<ul class="button-group">
  <li>
    <%= link_to 'Back', users_path, class: 'button small inline left' %>
  </li>
  <li>
    <%= link_to 'Show', user_path(@user), class: 'button small inline right' %>
  </li>
</ul>

