<h2 class="margin-bottom-2">User Profile</h2>

<table class="margin-bottom-2">
  <tr>
    <td>
      <strong>Login:</strong>
    </td>
    <td>
      <%= @user.login %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Email:</strong>
    </td>
    <td>
      <%= @user.email %>
    </td>
  </tr>
</table>

<ul class="button-group">
  <li>
    <%= link_to 'Back', users_path, class: 'button small inline left' %>
  </li>
  <li>
    <%= link_to 'Edit', edit_user_path(@user), class: 'button small inline right' %>
  </li>
</ul>

