@import "foundation_and_overrides"

$alert-padding-top: rem-calc(11)
$alert-padding-default-float: $alert-padding-top
$alert-padding-opposite-direction: $alert-padding-top + rem-calc(10)
$alert-padding-bottom: $alert-padding-top + rem-calc(1)

.margin-bottom-1
  margin-bottom: 20px
.margin-bottom-2
  margin-bottom: 40px

#error_explanation
  color: red

.field_with_errors
  border-left: 2px solid red
  border-right: 2px solid red