<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
        <div class="row">
          <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %> large-4 columns text-center">
            <%= content_tag :div, msg %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
  <% end %>
<% end %>
