<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Feature Tests Demo" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Foundation" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%# Modernizr is required for Zurb Foundation %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="margin-bottom-2">
  <%= render 'layouts/navigation' %>
</header>
<main role="main">
  <div class="row">
    <div class="large-12 columns">
      <%= render 'layouts/messages' %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= yield %>
    </div>
  </div>
</main>
</body>
</html>